<div class="location-posts-list"></div>

<button class="load-more btn btn-default btn-lg btn-block hidden">Load more</button>

<div class="location-posts-progress progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for server</span>
  </div>
</div>

<div class="location-posts-error hidden alert alert-warning" role="alert"></div>
