<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Upload successful</h1>

      <p><strong>Batch number:</strong> <%= batchId %></p>

      <p>Select locations you want to import from the list.</p>

      <div id="tresdb-batch-progress" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
          <span class="sr-only">Waiting for server</span>
        </div>
      </div>

      <div id="tresdb-batch-list" class="hidden"></div>

      <form id="tresdb-batch-form" style="margin-bottom: 5em">
        <button id="tresdb-batch-cancel" type="button" class="btn btn-default disable">Cancel</button>
        <div class="pull-right">
          <button id="tresdb-batch-selected" type="button" class="btn btn-primary disabled">Import selected (0)</button>
          <button type="submit" class="btn btn-primary disabled">Import all (0)</button>
        </div>
      </form>

    </div>
  </div>
</div>
