<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div>
        <h1><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter Map Markers</h1>

        Choose below to show only map markers of the selected type.
      </div>

      <div id="tresdb-filter-type-list">
        <%= typeListHtml %>
      </div>

    </div>
  </div>
</div>
