<div class="form-flags form-group">
  <label>Flag the post as:</label>
  <div class="checkboxes">
  <% flagBoxes.forEach(function (flagBox) { %>
    <label class="flag-checkbox checkbox-inline">
      <input type="checkbox" value="<%= flagBox.flag %>"<%= flagBox.checked ? ' checked="checked"' : '' %>>
      <span class="entry-flag-name"><%= flagBox.name %></span>
      <%
        if (flagBox.description) {
      %><span class="text-muted">– <%= flagBox.description %></span><%
        }
      %>
    </label>
  <% }) %>
  </div>
</div>
