<div class="login-container">
  <div class="container-fluid">
    <div class="row">
      <div class="login-column login-glass <%= sizeClass %>">
        <h1><img src="/assets/images/icons/128.png"> <%= title %></h1>
        <div class="login-form-container"></div>
        <div class="password-reset-container hidden"></div>
      </div>
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div>
