<div class="login-container">
  <div class="container-fluid">
    <div class="row">
      <div class="login-column login-glass col-md-4 col-sm-6">
        <h1><%= title %></h1>
        <div class="login-form-container"></div>
        <div class="password-reset-container hidden"></div>
      </div>
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div>
