<% var j; %>
<% for (j = 0; j < tags.length; j += 1) { %>
  <span class="label label-default tresdb-tag"><%= tags[j] %></span>
<% } %>
<% if (tags.length === 0) { %>
  <span class="label label-default tresdb-tag tresdb-none">- no tags -</span>
<% } %>
