<div class="form-group">
  <label for="search-creator-select" class="col-sm-3 control-label"><%= __('created-by') %></label>
  <div class="col-sm-5">
    <select id="search-creator-select" class="search-creator form-control">
      <option value="anyone"><%= __('anyone') %></option>
      <% if (username) { %>
      <option value="<%= username %>"><%= username %></option>
      <% } %>
      <!-- all members here -->
    </select>
  </div>
</div>
