<%
  var activityClass = function (status) {
    if (status === currentStatus) {
      return 'tresdb-tag-active';
    }
    return '';
  };
%>

<% locationStatuses.forEach(function (status) { %>
  <button data-status="<%= status %>" class="tresdb-status-<%= status %> tresdb-tag <%= activityClass(status) %>">
    <%= cap(status) %>
  </button>
<% }) %>
