
<div class="location-statustype-toolbar form-group">

  <span class="location-statustype-viewer">
    <%= statusTypeHtml %>
  </span>

  <% if (able('locations-update')) { %>
  <button type="button" class="location-statustype-form-show btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
  <% } %>

</div>

<div class="location-statustype-form-container"></div>
