
<div class="location-statustype form-group">

  <span class="location-statustype-viewer">
    <%= statusTypeHtml %>
  </span>

  <button type="button" class="location-statustype-form-show btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>

</div>

<form class="location-statustype-form hidden panel panel-primary">
  <div class="panel-body">

    <div class="location-status-list">
      <%= statusFormListHtml %>
    </div>

    <div class="location-type-list">
      <%= typeFormListHtml %>
    </div>

    <div class="pull-right">
      <button type="button" class="location-statustype-form-cancel btn btn-default">Close</button>
    </div>

  </div>
</form>

<div class="location-statustype-form-progress progress hidden">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for server</span>
  </div>
</div>

<div class="location-statustype-form-error hidden">
  <div class="alert alert-danger" role="alert">Sorry, updating status or type failed. Try again later.</div>
</div>
