<table class="table">
  <tbody>
<%
  var order = [
    { key: 'usersCount', label: __('users') },
    { key: 'locationCount', label: __('locations') },
    { key: 'entriesCount', label: __('posts') },
    { key: 'attachmentsCount', label: __('attachments') },
    { key: 'commentsCount', label: __('comments') },
    { key: 'eventsCount', label: __('actions') },
    { key: 'clientVersion', label: __('client-version') },
    { key: 'serverVersion', label: __('server-version') },
  ];
  order.forEach(function (item) {
%>
    <tr>
      <td title="<%= item.key %>"><%= item.label %></td>
      <td><%= stats[item.key] %></td>
    </tr>
<%
  });
%>
  </tbody>
</table>
