<div id="tresdb-location-forms-menu" class="form-group">
  <button id="entry-creation-open" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-comment"></span> Add Post</button>
  <button id="location-export-open" type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Downloads</button>
  <button id="tresdb-viewon-show" type="button" class="btn btn-default"><span class="glyphicon glyphicon-globe"></span> More maps</button>
</div>

<div id="entry-creation-container"></div>
<div id="location-export-container"></div>
<div id="tresdb-viewon-container-outer"></div>
