<div class="entry-form">

  <div class="form-group">
    <div class="entry-submit-buttons pull-right">
      <button type="button" class="btn btn-default entry-form-cancel">Cancel</button>
    </div>
    <div class="entry-tools-buttons form-group">
      <button type="button" class="entry-remove-open btn btn-danger">Delete post...</button>
      <button type="button" class="entry-move-open btn btn-default">Move post...</button>
    </div>
    <div class="entry-remove-container hidden"></div>
    <div class="entry-move-container hidden"></div>
  </div>

  <div class="form-progress progress hidden">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
      <span class="sr-only">Waiting for server</span>
    </div>
  </div>

  <hr>
</div>
