<div class="entry-form">

  <div class="form-group">
    <div class="pull-right">
      <button type="button" class="btn btn-default entry-form-cancel">Cancel</button>
    </div>
    <button type="button" class="btn btn-danger entry-form-delete">Delete post...</button>
  </div>

  <!-- Delete confirmation -->
  <div class="form-group hidden entry-form-delete-confirm">
    Are you sure?
    <button type="button" class="btn btn-danger entry-form-delete-yes">Yes, delete!</button>
  </div>

  <div id="tresdb-entry-progress" class="progress hidden">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
      <span class="sr-only">Waiting for server</span>
    </div>
  </div>

  <hr>
</div>
