
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

/* Menu */

.tresdb-map-menu {
  padding: 0.9em;
}

/* Menu END */


/* Card */

#card-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#card-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  opacity: 0.5;
}

#card-container {
  position: absolute;
  z-index: 3;
  background: white;
  overflow-y: scroll;
}

#card-container.tresdb-card-full {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

#card-container.tresdb-card-page {
  top: 0%;
  right: 0%;
  height: 100%;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 0px 2.62em black;
}

/* Card END */

/* Tag labels */

.tresdb-tags .tresdb-tag {
  font-size: 1.0em;
}

.tresdb-tags .tresdb-none {
  font-style: italic;
  color: #999;
}

.tresdb-coords {
  font-size: 1.38em;
}

.tresdb-coords a {
  color: white !important;
}

/* Tag labels END */

/* Content Entries */

.tresdb-entry-story .panel-body > p:last-child {
  margin-bottom: 0px;
}

.tresdb-entry-attachment-image-body {
  padding: 0px;
  text-align: center;
}
.tresdb-entry-attachment-image-body img {
  max-width: 100%;
  /*margin: 0px auto 0px auto;*/
}

time {
  text-decoration: underline;
}

/* Content Entries END*/
