<h2>Payment History</h2>

<div id="tresdb-history-error" class="hidden">
  <div class="alert alert-danger" role="alert">Fetching payments failed. Might be a connection issue.</div>
</div>

<div id="tresdb-history-progress" class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for server</span>
  </div>
</div>

<div id="tresdb-history-container"></div>
