<ul class="nav nav-tabs latest-tabs">
  <% Object.keys(tabs).forEach(function (tab) { %>
  <li role="presentation" class="latest-tab-<%= tab %>"><a href="#"><%= tab %></a></li>
  <% }); %>
</ul>
<div class="latest-tabs-spacer"></div>
