<div class="post-form-error alert alert-danger alert-dismissible" role="alert" style="margin-top: 1.5rem; margin-bottom: 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="message"><%= message %></span>
</div>
