<div class="panel panel-default georap-entry">

  <div class="panel-heading">
    <div class="pull-right">
      <% if (ableUpdate || ableDelete) { %>
        <button type="button" class="btn btn-default btn-sm entry-form-open">&hellip;</button>
      <% } %>
    </div>
    <span class="entry-heading"></span>
  </div>

  <div class="entry-form-container panel-body hidden"></div>

  <div class="entry-body panel-body"></div>

  <div class="entry-attachments-container"></div>
  <ul class="entry-comments-container list-group"></ul>
  <div class="comment-creation-form panel-body hidden"></div>

  <% if (enableFooter) { %>
  <div class="entry-footer panel-footer">
    <div class="comment-button-container"></div>
  </div>
  <% } %>
</div>
