<div class="entry-form">

  <div class="form-markdown-container"></div>
  <div class="form-flags-container"></div>
  <div class="form-attachments-container"></div>

  <div class="form-progress progress hidden">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
      <span class="sr-only">Waiting for server</span>
    </div>
  </div>

  <div class="form-group">
    <div class="pull-right">
      <button type="button" class="btn btn-default entry-form-cancel">Cancel</button>
      <button type="button" class="btn btn-primary entry-form-save">Save</button>
    </div>
    <% if (!isNew) { %>
      <!-- Delete confirmation -->
      <div class="form-group">
        <button type="button" class="entry-remove-open btn btn-danger">Delete post...</button>
        <button type="button" class="entry-move-open btn btn-default">Move post...</button>
      </div>
      <div class="entry-remove-container hidden"></div>
      <div class="entry-move-container hidden"></div>
    <% } else { %>
    <div class="clearfix"></div>
    <% } %>
  </div>

  <div class="form-error-container"></div>

  <% if (!isNew) { %>
  <hr>
  <h4>Original:</h4>
  <% } %>
</div>
