<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Manage <%= username %></h1>

      <div id="tresdb-admin-user-role-root"></div>

      <div id="tresdb-admin-user-expiration-root"></div>

      <div id="tresdb-admin-user-events-root"></div>

      <div id="tresdb-admin-user-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
