<div class="form-group">
  <label>Search locations:</label>
  <input type="text" class="form-control location-search-input">
</div>

<div class="form-group">
  <h5>Search results:</h5>
  <div class="location-search-results">
    No results.
  </div>
</div>

<div class="form-group">
  <h5>Selected location:</h5>
  <div class="location-search-selected">
    No location selected.
  </div>
</div>
