<div class="crosshair-viewon">

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      <%= __('more-maps') %>
    </div>
    <div class="panel-body">
      <h4><%= __('view-coordinates-on') %>:</h4>
      <div class="crosshair-viewon-services"></div>
    </div>
  </div>

</div>
