<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= __('manage-users') %></h1>

      <div class="admin-users-buttons hidden" style="margin-bottom: 0.62rem">
        <a class="btn btn-default" href="/invite" role="button">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <%= __('send-invite') %>
        </a>
      </div>

      <div class="admin-users-creation hidden"></div>

      <div class="admin-users-table"></div>
      <hr>
      <div class="admin-users-deleted-users">
        <p>
          <button class="admin-users-deleted-opener btn btn-default"><%= __('view-deleted-users') %> <span class="caret"></span></button>
        </p>
      </div>

      <div class="admin-users-deleted hidden"></div>

      <div class="admin-users-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
