
<% if (markers.length === 0) { %>

  <ul class="list-group">
    <li class="list-group-item tresdb-disabled" style="text-align: center">No results</li>
  </ul>

<% } else { %>

  <ul class="list-group">
  <% markers.forEach(function (m) { %>
    <li class="list-group-item">
      <a href="/locations/<%= m._id %>?zoom=11"><%= m.name %></a>
      <span style="color: gray; font-style: italic; margin-left: 0.38em">
        <%= m.places.length > 0 ? m.places[0] : '' %>,
        <%= m.places.length > 1 ? m.places[m.places.length - 1] : '' %>
      </span>
    </li>
  <% }); %>
  </ul>
<% } %>
