<div class="georap-search container-fluid">
  <div class="row">

    <div class="col-sm-12" style="margin-bottom: 1em">
      <h1>Search</h1>

      <div class="search-form-container"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <h3>Streets and Cities</h3>
      <div class="search-geocode-container"></div>

      <h3>Locations</h3>
      <div class="search-locations-container"></div>

    </div>
  </div>
</div>
