<!DOCTYPE html>
<html>
  <head>
    <title>TreStalkers Database</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- Stylesheets are included in the webpack bundle. -->
    <!-- See config/webpack.js for details. -->
  </head>

  <body>
    <div id="map"></div>
    <div id="card-layer">
      <!-- A press on the background closes the card. -->
      <div id="card-background"></div>
      <div id="card-container"></div>
    </div>

    <!-- Webpack bundle -->
    <!-- See config/webpack.js for details. -->
    <script src="/js/app.bundle.js"></script>
    <!-- Precompiled sails + socket.io -->
    <script src="/js/sails.io.js"></script>

    <!-- Scripts to be included directly -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMWEnkv66jJ4p-hUGlLPpzDNW808LDDlE&callback=initMap" async defer></script>
    <!-- end -->

  </body>
</html>
