<h3>
  Membership expires: <%= expirationDate %>
  <button id="tresdb-admin-user-expire-edit" type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-pencil"></span> Edit
  </button>
</h3>
