<span><img src="<%= toSymbolUrl(currentType) %>" title="<%= currentType %>" width="22" height="40"></span>
<span><%= cap(currentStatus) %></span> <%
  if (type !== defaultType) {
    %><span><%= cap(currentType) %></span><%
  }
%>
