<span><img src="<%= toSymbolUrl(currentType) %>" title="<%= currentType %>" width="22" height="40"></span>
<span class="tresdb-location-status"><%= cap(currentStatus) %></span> <%
  if (type !== defaultType) {
    %><span class="tresdb-location-type"><%= cap(currentType) %></span><%
  }
%>
