<% availableLocales.forEach(function (locale, index) { %>
  <%= index > 0 ? '-' : '' %>
  <a href="?locale=<%= locale %>" lang="<%= locale %>" target="_self">
    <%= __('locale-native', locale) %>
  </a>
<% }) %>
