<div class="form-group">
  <div class="georap-coords">
    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
    <span id="location-geom-geostamp"><%= geostamp %></span>

    <button id="location-geom-more-open" type="button" class="btn btn-default btn-sm"></button>

    <% if (able('locations-update')) { %>
    <button id="location-geom-edit" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
    <% } %>
  </div>

  <div id="location-geom-more" class="form-group hidden"></div>
</div>

<div id="location-geom-container" class="hidden location-geom-container"></div>
