<div class="panel panel-default">
  <div class="panel-body">
    <% if (infoText) { %>
    <p class="text-warning"><%= infoText %></p>
    <% } %>
    <p class="text-warning"><%= youSureText %></p>
    <div class="form-remove-confirmation">
      <button type="button" class="form-cancel-btn btn btn-default"><%= cancelBtnText %></button>
      <button type="button" class="form-remove-btn btn btn-danger"><%= deleteBtnText %></button>
    </div>

    <div class="form-remove-progress progress hidden">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
        <span class="sr-only">Waiting for server</span>
      </div>
    </div>
  </div>
</div>
