<div class="georap-crosshair container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="crosshair-title-container"></div>
      <div class="crosshair-zoom-container"></div>
      <div class="crosshair-coords-container"></div>
      <div class="crosshair-viewon-container"></div>
      <div class="crosshair-coordsform-container"></div>
      <div class="crosshair-create-container"></div>

      <!-- Feature: add temporary marker -->
    </div>
  </div>
</div>
