<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= user.name %></h1>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <h2>Security</h2>

      <button id="tresdb-show-change-password-form" type="button" class="btn btn-default">Change password...</button>

      <form id="tresdb-change-password-form" class="hidden">
        <div id="tresdb-current-password-group" class="form-group">
          <label for="tresdb-input-current-password" class="control-label">Current password:</label>
          <input type="password" class="form-control" id="tresdb-input-current-password">
        </div>
        <div id="tresdb-new-password-group" class="form-group">
          <label for="tresdb-input-new-password" class="control-label">New password:</label>
          <input type="password" class="form-control" id="tresdb-input-new-password">
        </div>
        <div id="tresdb-again-password-group" class="form-group">
          <label for="tresdb-input-again-password" class="control-label">New password again:</label>
          <input type="password" class="form-control" id="tresdb-input-again-password">
        </div>
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
