<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Invite a new user</h1>

      <form id="tresdb-invite-form">
        <div class="form-group">
          <label for="tresdb-invite-email">Email address to send the invite to:</label>
          <input type="email" class="form-control" id="tresdb-invite-email">
        </div>
        <button type="submit" class="btn btn-primary">Send invite</button>
      </form>

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
