<form id="tresdb-login-form">
  <div class="form-group">
    <label for="tresdb-login-email">Email address:</label>
    <input type="email" class="form-control" id="tresdb-login-email" placeholder="">
  </div>
  <div class="form-group">
    <label for="tresdb-login-password">Password:</label>
    <input type="password" class="form-control" id="tresdb-login-password" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- TODO reset password -->
<!-- TODO error messages -->
