<div class="crosshair-viewon">

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      More maps
    </div>
    <div class="panel-body">
      <p>
        <h4>View the same coordinates on:</h4>
        <div class="crosshair-viewon-services"></div>
      </p>
    </div>
  </div>

</div>
