<% if (typeof prefix === 'undefined') { prefix = '' } %>

<ul class="list-group">
  <% var i, u; %>
  <% for (i = 0; i < users.length; i += 1) { %>
    <% u = users[i]; %>
    <li class="list-group-item">
      <div class="pull-right"><%= prefix %><%= u.points %> <span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
      <a href="/users/<%= u.name %>"><%= u.name %></a>
    </li>
  <% } %>
</ul>
