<div class="georap-coords">
  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>

  <span class="location-places-display"><%= displayTemplate({
    places: places,
    __: __,
  }) %></span>
</div>
