<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1>Explorers</h1>

      <div id="tresdb-users-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <h2><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Last 7 Days</h2>
      <div id="tresdb-users-7days"></div>

      <h2><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Last 30 Days</h2>
      <div id="tresdb-users-30days"></div>

      <h2><span class="glyphicon glyphicon-king" aria-hidden="true"></span> All Time</h2>
      <div id="tresdb-users-alltime"></div>
      <div id="tresdb-deactivated-users" style="opacity: 0.6"></div>

    </div>
  </div>
</div>
