<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1>Members</h1>

      <div id="tresdb-users-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <div id="tresdb-active-users"></div>
      <div id="tresdb-deactivated-users" style="opacity: 0.6"></div>

    </div>
  </div>
</div>
