<table id="tresdb-import-list" class="table table-hover">
  <thead>
    <tr>
      <th><input id="tresdb-import-all" type="checkbox" title="Select all"></th>
      <th>Name</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
  <% locs.forEach(function (loc) { %>
    <%
      var attach = [];

      if (loc.descriptions.length > 1) {
        attach.push('' + loc.descriptions.length + ' posts');
      } else if (loc.descriptions.length > 0) {
        attach.push('1 post');
      }

      if (loc.overlays.length > 1) {
        attach.push('' + loc.overlays.length + ' overlays');
      } else if (loc.overlays.length > 0) {
        attach.push('1 overlay');
      }
    %>
    <tr>
      <td><input type="checkbox" name="row-check" class="tresdb-import-row-check"></td>
      <td><%= loc.name %></td>
      <td><%= attach.join(', ') %></td>
    </tr>
  <% }); %>
  </tbody>
</table>
