<div class="container-fluid georap-location">
  <% if (ref === 'latest') { %>
  <a id="location-return" class="row" href="/latest">
    <div class="col-md-12">
      <h1><%= __('latest') %></h1>
    </div>
  </a>
  <% } %>
  <div class="row">
    <div class="col-md-12">

      <div id="location-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <div class="location-missing-error hidden">
        <h2><%= __('location-missing') %></h2>
      </div>

      <div id="location-name"></div>

      <div id="location-places"></div>

      <div id="location-geom"></div>

      <div id="location-statustype-container"></div>

      <div id="location-thumbnail-container"></div>

      <div id="location-forms"></div>

      <div id="location-entries"></div>

      <div id="location-events"></div>

      <div id="location-remove"></div>

    </div>
  </div>
</div>
