<div class="container-fluid georap-location">
  <% if (ref === 'latest') { %>
  <a class="location-return row" href="/latest">
    <div class="col-md-12">
      <h1><%= __('latest') %></h1>
    </div>
  </a>
  <% } %>
  <div class="row">
    <div class="col-md-12">

      <div class="location-loading location-top">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <div class="location-error alert alert-danger location-top hidden" role="alert"></div>

      <div class="location-name"></div>

      <div class="location-statustype"></div>

      <div class="location-places"></div>

      <div class="location-geom"></div>

      <div class="location-thumbnail"></div>

      <div class="location-forms"></div>

      <div class="location-posts"></div>

      <div class="location-events"></div>

      <div class="location-remove"></div>

      <div class="text-right card-back-to-top hidden"><%= __('back-to-top') %></div>
      <div class="card-filler"></div>
    </div>
  </div>
</div>
