<div class="container-fluid georap-location">
  <% if (ref === 'latest') { %>
  <a id="georap-location-return" class="row" href="/latest">
    <div class="col-md-12">
      <h1>Latest</h1>
    </div>
  </a>
  <% } %>
  <div class="row">
    <div class="col-md-12">

      <div id="georap-location-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <div class="location-missing-error hidden">
        <h2>Location is missing. Check URL address.</h2>
      </div>

      <div id="georap-location-name"></div>

      <div id="georap-location-places"></div>

      <div id="georap-location-geom"></div>

      <div id="georap-location-statustype-container"></div>

      <div id="location-thumbnail-container"></div>

      <div id="georap-location-forms"></div>

      <div id="georap-location-entries"></div>

      <div id="georap-location-events"></div>

      <div id="georap-location-remove"></div>

    </div>
  </div>
</div>
