.tresdb-entry-image-body {
  position: relative;
  padding: 0px;
  text-align: center;
}

.tresdb-entry-image-body img {
  max-width: 100%;
  /*margin: 0px auto 0px auto;*/
}

.tresdb-entry-image-body a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.entry-image-zoom-icon {
  position: absolute;
  display: block;
  top: auto;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  padding-top: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-right: 1px solid rgba(190, 190, 190, 0.9);
  border-bottom: 1px solid rgba(190, 190, 190, 0.9);
  border-radius: 14px;
}
