<li class="list-group-item">
  <div class="pull-right">
    <%= timestamp(comment.time) %>
    <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
  </div>

  <strong><%= comment.user %>:</strong> <%= comment.message %>

  <form class="hidden">
    <input class="comment-edit" type="text">
    <button>Delete</button>
    <button>Cancel</button>
    <button>Save<button>
  </form>
</li>
