<%= comment.username %>: <%= comment.message %> <%= timestamp(comment.timestamp) %> [edit]

<form>
  <input type="text">
  <button>Delete</button>
  <button>Cancel</button>
  <button>Edit<button>
</form>
