<div class="form-group">
  <button type="button" class="form-remove-open btn btn-danger">Delete post...</button>
</div>

<div class="form-remove-confirmation form-group hidden">
 Are you sure?
 <button type="button" class="form-remove-btn btn btn-danger">Yes, delete!</button>
</div>

<div class="form-remove-progress progress hidden">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for server</span>
  </div>
</div>
