<div class="form-attachment" data-attachment-key="<%= attachment.key %>">
  <img src="<%= attachment.thumburl %>" title="<%= attachment.filename %>">
  <div class="form-attachment-controls">
    <div class="form-attachment-filename"><%= attachment.filename %></div>
    <div class="form-attachment-buttons">
      <button type="button" class="btn btn-sm btn-default form-attachment-up"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> Up</button>
      <button type="button" class="btn btn-sm btn-default form-attachment-down"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Down</button>
      <button type="button" class="btn btn-sm btn-default form-attachment-rotate"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Rotate</button>
      <button type="button" class="btn btn-sm btn-danger form-attachment-remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
    </div>
  </div>
  <div class="alert alert-danger form-attachment-error hidden" role="alert"></div>
</div>
