<div class="form-group">
  <button type="button" class="entry-move-open btn btn-default">Move post...</button>
</div>

<form class="entry-move-form form-group hidden">

  Move the post to the following location.

  <label>Find one:</label>
  <input type="text" class="location-search-query">

  <div>location search results</div>

  Move to location LOCATION_NAME?
  <button type="button" class="entry-move-cancel btn btn-default">Cancel</button>
  <button type="submit" class="entry-move-submit btn btn-danger">Move</button>
</form>

<div class="entry-move-progress"></div>
