<div class="entry-form">

  <div id="tresdb-entry-error" class="hidden">
    <div class="alert alert-danger" role="alert">Saving the post failed. Might be a connection issue.</div>
  </div>

  <div class="form-markdown-container"></div>

  <div class="form-attachments-container"></div>

  <div class="form-group">
    <div class="pull-right">
      <button type="button" class="btn btn-default entry-form-cancel">Cancel</button>
      <button type="button" class="btn btn-primary entry-form-save">Save</button>
    </div>
    <% if (!isNew) { %>
    <button id="entry-<%= entry._id %>-delete-ensure" type="button" class="btn btn-danger">Delete post...</button>
    <% } %>
  </div>

  <% if (!isNew) { %>
  <!-- Delete confirmation -->
  <div id="entry-<%= entry._id %>-delete-final" class="form-group hidden">
    Are you sure?
    <button id="entry-<%= entry._id %>-delete" type="button" class="btn btn-danger">Yes, delete!</button>
  </div>
  <% } %>

  <div id="tresdb-entry-progress" class="progress hidden">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
      <span class="sr-only">Waiting for server</span>
    </div>
  </div>

  <% if (!isNew) { %>
  <hr>
  <h4>Original:</h4>
  <% } %>
</div>
