<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Account settings</h1>

      <h3>Security</h3>
      <p><a class="btn btn-default" href="/account/password" role="button"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Change Password...</a></p>

      <h3>Theme</h3>
      <div class="btn-group" role="group" aria-label="select-theme">
        <button type="button" class="btn btn-default">Day</button>
        <button type="button" class="btn btn-default">Night</button>
      </div>

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
