<div class="entry-images-browser">
  <% attachments.forEach(function (attachment, i) { %>
  <img
    class="<%= i === selectedIndex ? 'active' : '' %>"
    src="<%= attachment.thumburl %>"
    title="<%= attachment.filename %>"
    data-attachment-key="<%= attachment.key %>">
  <% }); %>
</div>
