<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1><%= __('error-404-title') %></h1>
      <p><strong><%= __('error-code') %> 404</strong></p>
      <p><%= __('error-404-desc') %></p>
    </div>
  </div>
</div>
