<ul class="entry-comments list-group"></ul>

<div class="entry-footer panel-footer">
  <button type="button" class="entry-comment-form-open btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
</div>
