<ul class="list-group">
  <div class="entry-comments"></div>
  <li class="list-group-item comment-form-container hidden"></li>
</ul>

<div class="entry-footer panel-footer">
  <button type="button" class="comment-form-open btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
</div>
