
<div id="<%= entry.getId() %>" class="panel panel-default tresdb-content-tagadd">

  <div class="panel-heading">
    <%= entry.getUserName() %> added tag <em><%= entry.getTag() %></em> <%= timestamp(entry.getTime()) %>
  </div>

</div>
