<div class="latest-events"></div>

<div class="latest-events-progress progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for server</span>
  </div>
</div>
