<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>The Secret Entrance</h1>
    </div>
    <div class="col-md-4">

      <div id="tresdb-login-incorrect" class="hidden">
        <div class="alert alert-danger" role="alert">Incorrect email or password. Check and try again.</div>
      </div>

      <div id="tresdb-login-invalid-email" class="hidden">
        <div class="alert alert-danger" role="alert">Ensure the given email address is correct and has a format similar to <em>john.doe@example.com</em> or <em>myname@example.com</em>.</div>
      </div>

      <div id="tresdb-login-invalid-password" class="hidden">
        <div class="alert alert-danger" role="alert">Your password cannot be empty.</div>
      </div>

      <div id="tresdb-login-server-error" class="hidden">
        <div class="alert alert-danger" role="alert">We failed to log you in due to some mysterious server issues. Please try again later.</div>
      </div>

      <div id="tresdb-login-in-progress" class="hidden">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <form id="tresdb-login-form">
        <div class="form-group">
          <label for="tresdb-login-email">Email address:</label>
          <input type="email" class="form-control" id="tresdb-login-email">
        </div>
        <div class="form-group">
          <label for="tresdb-login-password">Password:</label>
          <input type="password" class="form-control" id="tresdb-login-password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <!-- Password reset -->
      <div id="tresdb-password-reset">
        <a id="tresdb-password-reset-button" href="#">I forgot my password...</a>

        <div id="tresdb-password-reset-invalid-email" class="hidden">
          <div class="alert alert-danger" role="alert">Ensure the given email address is correct and has a format similar to <em>john.doe@example.com</em> or <em>myname@example.com</em>.</div>
        </div>

        <div id="tresdb-password-reset-unknown-email" class="hidden">
          <div class="alert alert-danger" role="alert">No user with this email exists. Please ensure that the email address is correct.</div>
        </div>

        <div id="tresdb-password-reset-server-error" class="hidden">
          <div class="alert alert-danger" role="alert">We failed to send the password reset message to your email. Please try again later.</div>
        </div>

        <div id="tresdb-password-reset-success" class="hidden">
          <div class="alert alert-success" role="alert">Password reset message was sent successfully. Please check your email.</div>
        </div>

        <div id="tresdb-password-reset-in-progress" class="hidden">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
              <span class="sr-only">Waiting for server</span>
            </div>
          </div>
        </div>

        <!-- Reset form -->
        <form id="tresdb-password-reset-form" class="hidden">
          <p>Insert your account's email address and we send you a link to reset your password.</p>
          <div class="form-group">
            <label for="tresdb-password-reset-email">Email address:</label>
            <input type="email" class="form-control" id="tresdb-password-reset-email">
          </div>
          <button type="submit" class="btn btn-primary">Send email</button>
        </form>
      </div><!-- #tresdb-password-reset -->

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
