<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>Sign up</h1>
      <p>For <strong><%= email %></strong></p>
      <p>Welcome to Subterranea Fennica. Choose your username and password. We use your email address to send you instructions how to reset your password in case you forget it.</p>

      <div id="tresdb-signup-invalid-username" class="hidden">
        <div class="alert alert-danger" role="alert">Invalid username. Check and try again.</div>
      </div>

      <div id="tresdb-signup-password-no-match" class="hidden">
        <div class="alert alert-danger" role="alert">Passwords do not match.</div>
      </div>

      <div id="tresdb-signup-email-username-taken" class="hidden">
        <div class="alert alert-danger" role="alert">The email or username is already taken. Choose another and try again or log in with the existing account.</div>
      </div>

      <div id="tresdb-signup-server-error" class="hidden">
        <div class="alert alert-danger" role="alert">Failed to sign you up. Try again later.</div>
      </div>

      <div id="tresdb-signup-token-error" class="hidden">
        <div class="alert alert-warning" role="alert">Your invitation has expired. You need someone to send you a new invitation.</div>
      </div>

      <div id="tresdb-signup-success" class="hidden">
        <div class="alert alert-success" role="alert">Your account was created successfully. You may now log in.</div>
      </div>

      <form id="tresdb-signup-form">
        <div id="tresdb-signup-username-group" class="form-group">
          <label for="tresdb-signup-username" class="control-label">Username (choose well, you cannot change this later):</label>
          <input type="text" class="form-control" id="tresdb-signup-username">
        </div>
        <div id="tresdb-new-password-group" class="form-group">
          <label for="tresdb-signup-password" class="control-label">New password:</label>
          <input type="password" class="form-control" id="tresdb-signup-password">
        </div>
        <div id="tresdb-again-password-group" class="form-group">
          <label for="tresdb-signup-password2" class="control-label">New password again:</label>
          <input type="password" class="form-control" id="tresdb-signup-password2">
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
      </form>

      <div id="tresdb-signup-in-progress" class="hidden">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting</span>
          </div>
        </div>
      </div>

      <div id="tresdb-signup-to-login" class="hidden">
        <button id="tresdb-signup-to-login-button" type="button" class="btn btn-primary">Continue to log in</button>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
