<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1>Users</h1>

      <div id="tresdb-users-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <div id="tresdb-users"></div>

    </div>
  </div>
</div>
