<div class="location-thumbnails" style="display: inline-block; vertical-align: top"></div>

<button type="button" class="location-thumbnails-open btn btn-default btn-sm hidden"><span class="glyphicon glyphicon-pencil"></span></button>
