<div class="location-thumbnails" style="display: inline-block; vertical-align: top"></div>

<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
