<div class="location-thumbnails"></div><%
  // Slurp space
%><button type="button" class="location-thumbnails-open btn btn-default btn-sm hidden"><span class="glyphicon glyphicon-pencil"></span></button>
