<form class="entry-comment-form form">
  <div class="form-group">
    <label class="control-label">
      <span class="glyphicon glyphicon-comment"></span> Add Comment:
    </label>
    <textarea class="comment-form-message form-control" rows="2" placeholder="message..."></textarea>
  </div>

  <div class="comment-form-hint text-info pull-left"></div>

  <div class="form-group pull-right">
    <button type="button" class="comment-form-photo-btn btn btn-default" title="Add Photo"><span class="glyphicon glyphicon-plus" aria-label="Add"></span> <span class="glyphicon glyphicon-picture" aria-label="Photo"></span></button>
    <button class="comment-form-cancel btn btn-default" type="button">Cancel</button>
    <button class="comment-form-submit btn btn-primary" type="submit">Comment</button>
  </div>

  <div class="clearfix"></div>
</form>

<div class="comment-form-error hidden">Error</div>

<div class="comment-form-progress progress hidden">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for server</span>
  </div>
</div>
