<form class="location-thumbnails-form panel panel-primary">
  <div class="panel-heading">
    Set location thumbnail
  </div>
  <div class="panel-body">

    <div class="palette-container"></div>

    <div class="pull-right">
      <button type="button" class="form-cancel btn btn-default">Cancel</button>
      <button type="submit" class="form-submit btn btn-primary">Save</button>
    </div>

  </div>
</form>

<div class="progress-container"></div>
<div class="error-container"></div>
