<h3>
  Role: <%= isAdmin ? 'admin' : 'normal' %>
  <!--button id="tresdb-admin-user-role-edit" type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-pencil"></span> Edit
  </button-->
</h3>
