<div class="tresdb-coords">
  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>

  <span id="tresdb-location-places-display"><%= displayTemplate({ places: places }) %></span>
</div>
