<li class="list-group-item list-group-item-success">
  <div class="pull-right">
    <span class="glyphicon glyphicon-hourglass"></span>
  </div>

  <strong><%= comment.user %>:</strong> <%= comment.message %>
</li>
