<p class="tresdb-coords">
  <span class="label label-default"><%= geostamp(location.getGeom(), { precision: 5 }) %></span>
  <!--button id="tresdb-location-coords-edit" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</button-->
</p>

<!--div id="tresdb-location-coords-container" class="hidden">
  <form id="tresdb-location-coords-form" class="panel panel-primary">
    <div class="panel-body">
      <div id="tresdb-location-coords-map"></div>
      <div class="pull-right">
        <button id="tresdb-location-coords-cancel" type="button" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>

  <div id="tresdb-location-coords-error" class="hidden">
    <div class="alert alert-danger" role="alert">Updating the coordinates failed.</div>
  </div>
</div-->
