<strong>Syntax:</strong>
<p>
**bold** = <strong>bold</strong><br>
*emphasize* = <em>emphasize</em><br>
[link](http://example.com) = <a href="http://example.com">link</a><br>
<a href="https://en.support.wordpress.com/markdown-quick-reference/" target="_blank">See more...</a>
</p>
