
<div class="form-group">
  <button id="tresdb-location-delete-ensure" type="button" class="btn btn-danger">Delete location...</button>

  <div id="tresdb-location-delete-final" class="hidden">
    Are you sure? You cannot undo this.
    <button id="tresdb-location-delete" type="button" class="btn btn-danger">Yes, delete!</button>
  </div>
</div>
