<h4><%= __('dangerous-actions') %></h4>

<div class="form-group">
  <button type="button" class="location-delete-opener btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= __('delete-location') %>...</button>
</div>

<div class="location-delete-container hidden"></div>
