<h4>Dangerous actions</h4>

<div class="form-group">

  <button id="tresdb-location-delete-ensure" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete location...</button>

  <div id="tresdb-location-delete-final" class="hidden">
    Are you sure? You cannot undo this.
    <button id="tresdb-location-delete" type="button" class="btn btn-danger">Yes, delete!</button>
  </div>

</div>

<div id="tresdb-location-delete-progress" class="form-group hidden">

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
      <span class="sr-only">Waiting for server</span>
    </div>
  </div>

</div>
