
<div id="<%= entry.getId() %>" class="panel panel-default tresdb-content-attachment">

  <div class="panel-heading">
    <%= entry.getUserName() %> uploaded <%= timestamp(entry.getTime()) %>
  </div>

</div>
