
<div id="<%= entry.getId() %>" class="panel panel-default tresdb-content-created">

  <div class="panel-heading">
    <%= entry.getUserName() %> created <em><%= entry.getLocation().getName() %></em> <%= timestamp(entry.getTime()) %>
  </div>

</div>
