
<div id="<%= entry.getId() %>" class="panel panel-default tresdb-content-visit">

  <div class="panel-heading">
    <%= entry.getUserName() %> visited <em><%= entry.getLocation().getName() %></em> <%= timestamp(entry.getTime()) %>
  </div>

</div>
