<h1>
  <span class="location-name-display"><%= locName %></span>
  <% if (ableEdit) { %>
  <button type="button" class="location-rename-open btn btn-default btn-sm">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <% } %>
</h1>

<div class="location-rename-form-container"></div>
