<% var locName = location.getName(); %>
<% locName = (locName === '' ? 'Untitled' : locName); %>
<h1><span id="tresdb-location-name-display"><%= locName %></span> <button id="tresdb-location-rename-show" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></h1>

<form id="tresdb-location-rename-form" class="hidden panel panel-primary">
  <div class="panel-body">
    <div class="form-group">
      <label for="tresdb-location-rename-input">New name:</label>
      <input type="text" class="form-control" id="tresdb-location-rename-input">
    </div>
    <div class="pull-right">
      <button id="tresdb-location-rename-cancel" type="button" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<div id="tresdb-location-rename-error" class="hidden">
  <div class="alert alert-danger" role="alert">Renaming the location failed.</div>
</div>
