<div class="search-web-results"></div>
<div class="search-web-error hidden">
  <div class="alert alert-danger" role="alert">Retrieving data failed. Press search to try again.</div>
</div>
<div class="search-web-progress progress hidden">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    <span class="sr-only">Waiting for geocoding API</span>
  </div>
</div>
