<div class="row">
  <div class="col-md-5">
    <h3><%= __('theme') %></h3>

    <div class="color-schemes list-group">
      <a href="#" class="list-group-item" id="theme-light">
        <%= __('theme-light') %>
        <% if (theme.colorScheme === 'light') { %>
          <span class="glyphicon glyphicon-star" aria-label="selected"></span>
        <% } %>
      </a>
      <a href="#" class="list-group-item" id="theme-dark">
        <%= __('theme-dark') %>
        <% if (theme.colorScheme === 'dark') { %>
          <span class="glyphicon glyphicon-star" aria-label="selected"></span>
        <% } %>
      </a>
    </div>
  </div>
</div>
