<form class="uploader-box" method="post" action="/api/attachments" enctype="multipart/form-data">
  <div class="uploader-box-input">
    <input class="uploader-box-file" type="file" name="attachments" id="uploader-file-input" multiple />
    <label for="uploader-file-input"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br><span style="text-decoration: underline">Choose a file</span><span class="uploader-box-dragndrop"> or drag it here</span></label>
    <button class="uploader-box-button" type="submit">Upload</button>
  </div>
</form>
