
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.georap-map {
  height: 100%;
}

/* Effects et General */
.georap-flash {
  background-color: #76E68C !important;
}
.flip-x {
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
time {
  text-decoration: underline;
}
.georap-disabled {
  color: #999999;
}
.georap-coords {
  font-size: 1.38em;
}
/* END Effect et General */

/* Card */
#card-layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  max-width: 600px;
  box-shadow: 0 0 2.62em black;
  z-index: 3;
  overflow: visible;
  background: white;
}
#card-layer.card-full {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
#card-layer.card-page {
}
.card-close-icon {
  position: absolute;
  bottom: 0;
  left: -2.3em;
  width: 2.3em;
  height: 2.62em;
  font-size: 3rem;
  color: white;
  padding-top: 0.32em;
  padding-left: 0.53em;
  cursor: pointer;
}
.card-layer-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.card-page .card-layer-content {
  padding-bottom: 18rem;
}
/* END Card */

/* Login */
.georap-login-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/assets/images/login.jpg') no-repeat center center fixed;
  background-size: cover;
}
.georap-login-container h1,
.georap-login-container label,
.georap-login-container p,
.georap-login-container a {
  color: #fff !important;
}
.login-glass {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.login-column {
  /* text-shadow: -1px 3px 10px rgb(128, 128, 128); */
  padding-bottom: 1.8rem;
}
#georap-login-form {
  margin-bottom: 1.68em;
}
/* END Login */

/* Menu */
.dropdown-menu {
  background-color: white;
  background-color: rgba(255,255,255,0.95);
}
.georap-map-menu {
  padding: 0.9em;
  max-width: 60%; /* Firefox needs width to be specified */
}
#georap-toolbar-main {
  margin-bottom: 0.9em;
}
#georap-toolbar-main .dropdown,
#georap-mainmenu-filter {
  margin-right: 0.3em;
  margin-bottom: 0.5em;
}
#georap-toolbar-main .btn-lg {
  /* Match size with gmaps buttons */
  padding: 8px 13px;
  font-size: 16px;
}
#georap-toolbar-main .input-lg {
  height: 39px;
  padding: 8px 13px;
  font-size: 16px;
}
#georap-mainmenu-filter .glyphicon {
  top: 2px;
}
#georap-mainmenu-filter .label-danger {
  position: absolute;
  display: block;
  top: 2.1em;
  right: -0.7em;
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.7em;
}
/* Menu search form */
#georap-mainmenu-search-form  {
  width: 20rem;
}
@media (max-width: 600px) {
  #georap-mainmenu-search-form {
    width: 16rem;
  }
}
@media (max-width: 520px) {
  #georap-mainmenu-search-form {
    width: 13rem;
  }
}
@media (max-width: 480px) {
  #georap-mainmenu-search-form {
    width: 5rem;
  }
  #georap-mainmenu-search-form input {
    display: none;
  }
  #georap-mainmenu-search-form button {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
@media (max-width: 380px) {
  .georap-map-menu {
    width: 14rem;
  }
}
@media (max-width: 330px) {
  .georap-map-menu {
    width: 13rem;
  }
}
/* END Menu */

/* Location page */
#georap-location-loading {
  /* Make space between the loading bar and the top edge. Match with H1 */
  margin-top: 20px;
}
/* Location return to latest */
#georap-location-return {
  color: #666;
  border-bottom: 1px solid gray;
  display: block;
  padding: 1rem 0 1rem 0;
  font-size: 1.6rem;
  box-shadow: inset 0 -2.6rem 1.6rem -2.6rem black;
  height: 3.3rem;
  overflow: hidden;
}
#georap-location-return h1 {
  margin: 0;
  color: #333;
}
/* Location name */
#georap-location-name {
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  word-break: break-all;
}
#georap-location-name h1 {
  margin-bottom: 0;
  margin-top: 1.5rem;
}
/* Location place */
.location-places-display {
  text-transform: capitalize;
}
/* Location geom */
#georap-location-geom {
  margin-bottom: 1rem;
}
#georap-location-geom > .form-group {
  margin-bottom: 0;
}
#georap-location-geom .location-coords-container {
  margin-top: 0.6rem;
}
/* Location component containers */
#georap-location-statustype-container {
  margin-bottom: 1.6rem;
}
#location-thumbnail-container {
  margin-bottom: 1.6rem;
  line-height: 1;
}
#georap-location-forms {
  margin-bottom: 1rem;
}
#georap-location-forms > .form-group {
  margin-bottom: 0;
}
#georap-location-forms-menu button {
  margin-bottom: 0.6rem;
}
#georap-location-entries,
#georap-location-events {
  margin-bottom: 2.68em;
}
/* END Location page */

/* Location Status & Type */
.location-statustype {
  margin-bottom: 0.6rem;
}
.location-statustype-viewer .location-status,
.location-statustype-viewer .location-type {
  font-size: 1.38em;
}
.location-statustype-viewer .location-status {
  text-transform: capitalize;
}
.location-statustype-form {
  margin-bottom: 1.6rem;
}
.location-statustype-viewer img {
  margin-top: -4px;
  margin-bottom: -18px;
}
.location-status-list button,
.location-type-list button {
  margin: 0.16rem;
  padding: 0.38rem;
  border-radius: 0.5rem;
  background-color: transparent;
  text-transform: capitalize;
}
.location-type-list button {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
.location-type-list button img {
  /* Make the button ev.target because data attribute is in the button */
  pointer-events: none;
  vertical-align: top;
}
/* END Location Status & Type */

/* Location Thumbnail */
.location-thumbnail {
  position: relative;
  display: inline-block;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  overflow: hidden;
  vertical-align: bottom;
}
.location-thumbnail-open {
  margin-bottom: 0.6rem;
  margin-left: -0.1rem;
}
.location-form-thumbnail {
  display: inline-block;
  margin: 4px;
  opacity: 1;
}
.location-form-thumbnail.thumbnail-selected {
  margin: 0;
  border: 3px dashed black;
  opacity: 1;
}
.location-form-thumbnail:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* END Location Thumbnail */

/* Entries */
.georap-entry .panel-body,
.georap-entry .comment-message {
  overflow-wrap: break-word;
  word-break: normal;
}
.georap-entry .panel-body > p:last-child {
  margin-bottom: 0;
}
.georap-entry .pull-right .entry-form-open,
.georap-entry .pull-right .comment-form-open {
  margin: -5px -9px 0 0;
}
.form-markdown-group {
  margin-bottom: 1.6rem;
}
.entry-image-body {
  position: relative;
  padding: 0;
  text-align: center;
}
.entry-image-body img {
  max-width: 100%;
  /*margin: 0 auto 0 auto;*/
}
.entry-image-body a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.entry-image-zoom-icon {
  position: absolute;
  display: block;
  top: auto;
  bottom: 3px;
  right: 3px;
  width: 32px;
  height: 32px;
  padding-top: 6px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-right: 1px solid rgba(190, 190, 190, 0.9);
  border-bottom: 1px solid rgba(190, 190, 190, 0.9);
  border-radius: 14px;
}
.entry-images-browser-container {
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
}
.entry-images-browser-container:focus {
  /* Keyboard handling requires focus the outline is too much */
  outline: none;
}
.entry-images-browser-container:empty {
  margin-top: 0;
  margin-bottom: 0;
}
.entry-images-browser img {
  display: inline-block;
  object-fit: cover;
  width: 8.7rem;
  height: 8.7rem;
  cursor: pointer;
  opacity: 0.62;
}
.entry-images-browser img.active {
  width: 11rem;
  height: 11rem;
  opacity: 1;
}
/* Entry Form */
.entry-form .entry-tools-buttons {
  line-height: 4rem;
}
/* END Entries */

/* Removal Form */
.form-remove-confirmation {
  text-align: right;
}
/* END Removal Form */

/* Thumbnail */
.attachment-thumbnail {
  display: inline-block;
}
.attachment-thumbnail img {
  object-fit: cover;
  width: 8.7rem;
  height: 8.7rem;
}
.attachment-thumbnail.thumb-xs img {
  width: 5.4rem;
  height: 5.4rem;
}
.attachment-thumbnail.thumb-sm img {
  width: 6.9rem;
  height: 6.9rem;
}
.attachment-thumbnail.thumb-lg img {
  width: 11.1rem;
  height: 11.1rem;
}
.attachment-thumbnail.thumb-xl img {
  width: 14.1rem;
  height: 14.1rem;
}
.attachment-thumbnail.thumb-xxl img {
  width: 17.9rem;
  height: 17.9rem;
}
.attachment-thumbnail img.location-type-symbol {
  object-fit: none;
  position: relative;
  top: 0.7rem;
}
/* END Thumbnail */

/* Attachments Form and Uploader */
.form-attachment-thumbnail {
  display: inline-block;
  vertical-align: top;
}
.form-attachment-thumbnail img {
  border-right: 1px solid #ddd;
}
li.form-attachment-container:first-child img {
  border-top-left-radius: 4px;
}
.form-attachment .form-attachment-controls {
  display: inline-block;
}
.form-attachment .form-attachment-filename {
  margin-bottom: 1rem;
}
.form-attachment .form-attachment-buttons {
  line-height: 3.4rem;
}
.form-attachment-upload-container {
  /* Ongoing uploads */
  padding-bottom: 15px;
}
.uploader-container {
  /* Drag and drop upload form */
  background-color: #f5f5f5;
}
.uploader-container.list-group-item {
  padding: 10px 11px; /* defaults 10px 15px */
}
/* Uploader box */
.uploader-box {
  color: #444;
  font-size: 1.28rem;
  text-align: center;
  padding: 2.6rem 1.28rem;
  outline: 2px dashed #ddd;
}
.uploader-box-input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.uploader-box-input label {
  font-size: 1.27em;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}
.uploader-box-input label .glyphicon {
  font-size: 4.2rem;
}
.uploader-box-file:focus + label,
.uploader-box-file + label:hover {
  color: #337ab7;
}
.uploader-box-file:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
/* Prevent touch-reactive content inside label */
.uploader-box-input label span,
.uploader-box-input label br {
  pointer-events: none;
}
/* Drag'n'drop styling */
.uploader-box.is-dragover {
  background-color: grey;
}
.uploader-box-button {
  display: none;
}
/* END Attachments Form and Uploader */

/* Comments */
.panel > .list-group.entry-comments-container {
  margin-bottom: -1px; /* hide double border */
}
.entry-comment {
  overflow: auto; /* contain floated thumbnails */
}
.comment-form-container {
  border-top: 1px solid #ddd;
}
.comment-form-photo-btn {
  margin-right: 1rem;
}
.comment-edit-container {
  padding-top: 0.6rem;
}
.comment-attachment-thumbnail {
  display: inline-block;
  margin: -10px -15px -10px 10px;
  float: right;
}
.comment-submit-buttons {
  line-height: 4rem;
  text-align: right;
}
.comment-tools-buttons {
  line-height: 4rem;
}
/* END Comments */

/* Markdown Component */
.markdown-hint {
  padding-left: 1px;
}
.markdown-syntax .close {
  margin-top: -9px;
  margin-right: -2px;
}
/* END Markdown Component */

/* Flags Component */
.form-flags.form-group {
  margin-top: -1rem;
  margin-bottom: 1.6rem;
}
.form-flags .flag-checkbox .entry-flag-name {
  text-transform: capitalize;
}
.form-flags .flag-checkbox:first-child {
  margin-top: 1px;
}
/* END Flags Component */

/* Latest */
/* Latest events page */
.latest-tabs li {
  text-transform: capitalize;
}
.latest-tabs li:first-child {
  margin-left: 1.6rem;
}
.latest-tabs-spacer {
  padding: 10px 15px;
}
@media (max-width: 380px) {
  .latest-tabs > li > a {
    padding: 10px 13px; /* orig 10px 15px */
  }
}
@media (max-width: 330px) {
  .latest-tabs > li > a {
    padding: 10px 11px;
  }
}
.latest-events .list-group-item {
  min-height: 5.4rem; /* match xs thumbnail */
}
.event-item-thumbnail {
  margin: -10px -15px -10px 10px;
}
.georap-pointstamp .glyphicon {
  top: 2px;
  display: inline; /* to enable &nbsp; */
}
/* Latest locations page */
.latest-locations .list-group-item {
  min-height: 11.1rem;
}
.latest-locations .location-title {
  margin-bottom: 2px;
}
.latest-locations .location-status,
.latest-locations .location-type {
  text-transform: capitalize;
}
.location-item-thumbnail {
  margin: -10px -15px -10px 10px;
}
.location-item-thumbnail img {
  object-fit: cover;
  width: 11.1rem;
  height: 11.1rem;
}
.location-item-thumbnail img.location-type-symbol {
  object-fit: none;
}
@media (max-width: 520px) {
  .latest-locations .list-group-item {
    min-height: 8.7rem;
  }
  .latest-locations .location-title {
    margin-top: 3px;
  }
  .location-item-thumbnail img {
    width: 8.7rem;
    height: 8.7rem;
  }
}
@media (max-width: 380px) {
  .latest-locations .list-group-item {
    min-height: 6.9rem;
  }
  .location-item-thumbnail {
    margin: -10px -15px 0 5px;
  }
  .location-item-thumbnail img {
    width: 6.9rem;
    height: 6.9rem;
  }
}
/* Latest entries */
.latest-entries .georap-entry {
  margin-bottom: 6.8rem;
}
/* END Latest */

/* Filter */
#georap-filter-title-dot {
  position: relative;
  display: inline-block;
  top: 0.7em;
  left: -0.3em;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: -1.4rem;
  border-radius: 0.7rem;
  background-color: #D9534F;
}
.location-status-list button.location-filter-any,
.location-type-list button.location-filter-any {
  width: 6rem;
}
/* END Filter */

/* Geolocation */
button.georap-geolocation {
  background-color: #fff;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
}
button.georap-geolocation .georap-geolocation-icon {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-image: url(/assets/images/mylocation.png);
  background-size: 300px 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* END Geolocation */

/* Pinpointer */
.georap-crosshair .crosshair-zoom {
  margin-bottom: 0.62rem;
}
/* END Pinpointer */

/* Statistics */
.georap-credits {
  text-align: right;
}
/* END Statistics */

/* Users */
.points-equality-line {
  height: 0.62em;
  margin-top: 0.38em;
  border-bottom: 3px double black;
}
/* END Users */
