/* Bootstrap specific */
body {
  color: #fff;
  background-color: #111;
}
.dropdown-menu {
  background-color: #111;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu .divider {
  background-color: #222;
}

.btn-default {
  color: #fff;
  background-color: #333;
  border-color: #666;
}

.panel {
  background-color: #333;
}

.list-group-item {
  background-color: #333;
  border: 1px solid #666;
}

/* TresDB specific */
#card-layer {
  background-color: #111;
}

.tresdb-tag-active {
  border: 1px solid #fff;
}
