<span class="comment-attachment-thumbnail"></span>

<% if (canUpdate || canDelete) { %>
<div class="pull-right comment-meta">
  <button type="button" class="btn btn-default btn-sm comment-edit-open">&hellip;</button>
</div>
<% } %>

<a href="/users/<%= author %>"><%= author %></a> <%= timestamp %>:
<span class="comment-message"></span>

<div class="clearfix"></div>

<div class="comment-form-container hidden"></div>
