<h4><%= __('dangerous-actions') %></h4>

<div class="form-group">
  <button type="button" class="user-removal-opener btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= __('delete-user') %>...</button>
</div>

<div class="user-removal-container hidden"></div>

<div class="user-removal-error"></div>
