<div class="form-group">
  <button type="button" class="user-removal-opener btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= __('delete-user') %>...</button>
</div>

<div class="user-removal-container hidden"></div>

<div class="user-removal-error"></div>
<div class="user-removal-success">
  <h3>User account deleted successfully</h3>
  <div class="pull-right">
    <a href="/admin/users" role="button" class="user-removal-opener btn btn-default"><%= __('close') %></a>
  </div>
</div>
