<h3>
  <%= __('role') %>: <%= __('user-role', user.role) %>
  <button type="button" class="admin-user-role-edit btn btn-default btn-xs">
    <span class="glyphicon glyphicon-pencil"></span> <%= __('edit') %>
  </button>
</h3>

<div class="admin-user-role-form-container"></div>
