
<% if (markers.length === 0) { %>

  <ul class="list-group">
    <li class="list-group-item tresdb-disabled" style="text-align: center">No results</li>
  </ul>

<% } else { %>

  <ul class="list-group">
  <% markers.forEach(function (m) { %>
    <li class="list-group-item">
      <div class="pull-right">
        <%= tagsTemplate({ tags: m.tags }) %>
      </div>
      <a href="/locations/<%= m._id %>"><%= m.name %></a>
    </li>
  <% }); %>
  </ul>

<% } %>
