<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1>Latest</h1>

      <div class="latest-tabs-container"></div>
      <div class="latest-list-container"></div>

    </div>
  </div>
</div>
