<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Change password</h1>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-4">

      <div id="tresdb-change-password-invalid-curpass" class="hidden">
        <div class="alert alert-danger" role="alert">Your current password cannot be empty.</div>
      </div>

      <div id="tresdb-change-password-invalid-newpass" class="hidden">
        <div class="alert alert-danger" role="alert">The new passwords do not match. Please check and try again.</div>
      </div>

      <div id="tresdb-change-password-incorrect-curpass" class="hidden">
        <div class="alert alert-danger" role="alert">The given current password was incorrect. Please check and try again.</div>
      </div>

      <div id="tresdb-change-password-server-error" class="hidden">
        <div class="alert alert-danger" role="alert">We failed to change your password. An error occurred: <span id="tresdb-change-password-server-error-name"></span></div>
      </div>

      <div id="tresdb-change-password-success" class="hidden">
        <div class="alert alert-success" role="alert">Password changed successfully.</div>
      </div>

      <div id="tresdb-change-password-in-progress" class="hidden">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

      <form id="tresdb-change-password-form">
        <div id="tresdb-current-password-group" class="form-group">
          <label for="tresdb-input-current-password" class="control-label">Current password:</label>
          <input type="password" class="form-control" id="tresdb-input-current-password">
        </div>
        <div id="tresdb-new-password-group" class="form-group">
          <label for="tresdb-input-new-password" class="control-label">New password:</label>
          <input type="password" class="form-control" id="tresdb-input-new-password">
        </div>
        <div id="tresdb-again-password-group" class="form-group">
          <label for="tresdb-input-again-password" class="control-label">New password again:</label>
          <input type="password" class="form-control" id="tresdb-input-again-password">
        </div>

        <button type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
