<h3>
  Status: <%= status %>
  <button id="georap-admin-user-status-edit" type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-pencil"></span> Edit
  </button>
</h3>

<form id="georap-admin-user-status-form" class="hidden panel panel-primary">
  <div class="panel-heading">
    Activate/deactivate member account
  </div>
  <div class="panel-body">
    <div class="checkbox">
      <label>
        <input id="status-checkbox" type="checkbox" name="isactive" <%= status === 'active' ? '' : 'checked="checked"' %> > Deactivate account <%= username %>
      </label>
    </div>
    <p class="help-block">A member with a deactivated status is not allowed to log in and see or edit content. Only members with administrator roles can change statuses of member accounts.</p>
    <div class="pull-right">
      <button id="georap-admin-user-status-cancel" type="button" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<div id="georap-admin-user-status-noauto" class="hidden">
  <div class="alert alert-warning" role="alert">You cannot lock your own account.</div>
</div>

<div id="georap-admin-user-status-error" class="hidden">
  <div class="alert alert-danger" role="alert">Updating status failed.</div>
</div>

<div id="georap-admin-user-status-success" class="hidden">
  <div class="alert alert-success" role="alert">Successfully updated the account <%= username %> status.</div>
</div>
