<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Password reset</h1>
      <p>For account <strong><%= email %></strong></p>
    </div>
    <div class="col-md-4">

      <div id="georap-reset-password-no-match" class="hidden">
        <div class="alert alert-danger" role="alert">Passwords do not match.</div>
      </div>

      <div id="georap-reset-password-server-error" class="hidden">
        <div class="alert alert-danger" role="alert">Failed to reset the password. Try again later.</div>
      </div>

      <div id="georap-reset-password-token-error" class="hidden">
        <div class="alert alert-warning" role="alert">The time window for your password reset has ended. You need to request password reset again from the log in page.</div>
      </div>

      <div id="georap-reset-password-success" class="hidden">
        <div class="alert alert-success" role="alert">Password changed successfully.</div>
      </div>

      <form id="georap-reset-password-form">
        <div id="georap-new-password-group" class="form-group">
          <label for="georap-input-new-password" class="control-label">New password:</label>
          <input type="password" class="form-control" id="georap-input-new-password">
        </div>
        <div id="georap-again-password-group" class="form-group">
          <label for="georap-input-again-password" class="control-label">New password again:</label>
          <input type="password" class="form-control" id="georap-input-again-password">
        </div>
        <div id="georap-reset-password-alert"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div id="georap-reset-in-progress" class="hidden">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting</span>
          </div>
        </div>
      </div>

      <div id="georap-reset-password-login" class="hidden">
        <button id="georap-continue-to-login-button" type="button" class="btn btn-primary">Continue to log in</button>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
