<div class="panel-body entry-image-body entry-images-viewer">
  <a href="<%= attachment.viewerurl %>" target="_blank">
    <div class="entry-image-zoom-icon">
      <span class="glyphicon glyphicon-zoom-in"></span>
    </div>
    <img src="<%= attachment.thumburl %>" title="<%= attachment.filename %>">
  </a>
</div>
