<div class="crosshair-viewon">

  <div class="panel panel-primary">
    <div class="panel-heading">
      More maps
    </div>
    <div class="panel-body">
      <p>
        <h4>View the same coordinates on:</h4>
        <% services.forEach(function (serv) { %>
        <a href="<%= serv.url %>" class="btn btn-default" role="button" target="_blank"><%= serv.name %></a>
        <% }); %>
      </p>
    </div>
  </div>

</div>
