<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <%= __('settings') %></h1>
    </div>
  </div>
  <div class="theme-form"></div>
  <div class="locale-form"></div>
</div><!-- .container-fluid -->
