<div class="row">
  <div class="col-md-5">
    <h3><%= __('language') %></h3>

    <div class="list-group">
      <% availableLocales.forEach(function (locale) { %>
        <% var isActive = locale === currentLocale %>
        <a href="?locale=<%= locale %>"
           class="list-group-item"
           lang="<%= locale %>"
           target="_self">
          <% // target=_self is necessary to bypass page.js router %>
          <%= __('locale-native', locale) %>
          <% if (isActive) { %>
            <span class="glyphicon glyphicon-star" aria-label="selected"></span>
          <% } %>
        </a>
      <% }) %>
    </div>
  </div>
</div><!-- .row -->
