<span class="location-thumbnail-viewer"></span><%
  if (ableUpdate) {
    // Slurp space
    %><button type="button" class="location-thumbnail-open btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>

    <div class="location-thumbnail-form-container"></div>
<% } %>
