<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <p><a href="/admin/users">&larr; <%= __('manage-users') %></a></p>

      <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= __('manage-user') %> <%= username %></h1>

      <div id="admin-user-info-root"></div>
      <div id="admin-user-role-root"></div>
      <div id="admin-user-status-root"></div>
      <div id="admin-user-events-root"></div>

      <div id="admin-user-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
