<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <p style="margin-top: 1em">
        <a href="/admin/users"><%= __('manage-users') %></a>
      </p>

      <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= username %></h1>

      <div class="admin-user-info-root"></div>
      <div class="admin-user-role-root"></div>
      <div class="admin-user-status-root"></div>
      <div class="admin-user-removal-root" style="margin-top: 2.62rem"></div>
      <div class="admin-user-events-root"></div>

      <div class="admin-user-loading">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Waiting for server</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
