<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Crosshair</h1>

      <div class="crosshair-geom-container"></div>

      <h2>Open on External Map</h2>
      <h2>Create location here</h2>
      <h2>Add temporary marker</h2>

    </div>
  </div>
</div>
