<form method="post" action="/api/attachments" enctype="multipart/form-data">
  <input type="file" name="attachments" id="basic-file-input" multiple />
  <label for="basic-file-input">Choose a file.</label>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
