<div class="form-group">
  <div class="tresdb-coords">
    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>

    <span id="crosshair-coords-geostamp"><%= geomHtml %></span>
  </div>
</div>

<div id="crosshair-coords-container">
  <form id="crosshair-coords-form" class="panel panel-primary">
    <div class="panel-heading">
      Go to Coordinates
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="crosshair-coords-latitude">Latitude</label>
        <input type="text" class="form-control" id="crosshair-coords-latitude">
        <small class="form-text text-muted">WGS 84, decimal degrees (DD.DDDD)</small>
      </div>
      <div class="form-group">
        <label for="crosshair-coords-longitude">Longitude</label>
        <input type="text" class="form-control" id="crosshair-coords-longitude">
        <small class="form-text text-muted">WGS 84, decimal degrees (DD.DDDD)</small>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Go</button>
      </div>
    </div>
  </form>

  <div id="crosshair-coords-progress" class="progress hidden">
    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
      <span class="sr-only">Waiting for server</span>
    </div>
  </div>

  <div id="crosshair-coords-error" class="hidden">
    <div class="alert alert-danger" role="alert">Updating the coordinates failed. Ensure both coordinates to be in the decimal degree format similar to 12.345678.</div>
  </div>
</div>
