<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Manage Payments</h1>

      <p><button class="btn btn-primary">Register a new payment...</button></p>
      <p><button class="btn btn-primary">Make a correction to a payment...</button></p>

      <p><button class="btn btn-primary">Edit the payment form...</button></p>

      <h2>Balances</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>c8h11no2</td>
            <td>+25.00</td>
          </tr>
          <tr>
            <td>Wormwood</td>
            <td>+100.00</td>
          </tr>
        </tbody>
      </table>


      <h2>Payment History</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Username</th>
            <th>Amount €</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2017-03-08</td>
            <td>c8h11no2</td>
            <td>+40.00</td>
          </tr>
          <tr>
            <td>2017-03-09</td>
            <td>Wormwood</td>
            <td>+200.00</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
