<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Manage Payments</h1>

      <div id="tresdb-registration-root"></div>

      <p><button class="btn btn-primary">Make correction to a payment...</button></p>

      <p><button class="btn btn-primary">Edit the payment form...</button></p>

      <h2>Fee Settings</h2>

      <p>The balance of each active user is charged by <strong>5.00 €</strong> every <strong>30 days</strong></p>

      <p><button class="btn btn-primary">Edit fee settings...</button></p>

      <div id="tresdb-balances-root"></div>

      <div id="tresdb-history-root"></div>

    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
